    <div ng-show="$ctrl.show" id="map"></div>
 <!-- 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCaY59z9Lwl1jIOakmOhoBKIH5iqi1fUs&callback=initMap"
    async defer></script>

   
<!-- 
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/geocode/json?address=273+E+Maxwell+st+lexington+ky&key=AIzaSyBCaY59z9Lwl1jIOakmOhoBKIH5iqi1fUs&callback"></script>
<script type="text/javascript">

var geocoder = new google.maps.Geocoder();
var address = "273 E Maxwell st lexington ky";

geocoder.geocode( { 'address', address}, function(results, status) {

  if (status == google.maps.GeocoderStatus.OK) {
    var latitude = results[0].geometry.location.lat();
    var longitude = results[0].geometry.location.lng();
    console.log(latitude);
  } 
}); 
</script>