
      #map {
        width: 50%;
        height: 62%;
        margin-top: 35px;
        margin-left: 45%;
        
      }
        html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
   